<h1>Data Visualizations</h1>

<p>
    Through the training of our Artificial Intelligence model, our team created various graphs 
    and ways to visualize the data that we had to work with. Since our team found them so enjoyable 
    to look at when we were building the application, we thought that it might be fun for your team
    to view them as well.
</p>

<h2>Bar Graph Representation</h2>

<img src="../../assets/img/bar-graph.png" class="img-fluid" alt="Bar Graph">

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis accumsan justo, sed 
    consectetur orci. Mauris ut leo a libero faucibus rhoncus. Phasellus vitae mi metus. Cras quis 
    maximus justo. Vestibulum et accumsan nisl. Mauris iaculis, odio vel porttitor tristique, massa 
    nunc efficitur libero, sed pretium odio augue eget ante. Sed sollicitudin convallis augue vel 
    ultricies. Etiam mattis elementum ligula, et pharetra lectus semper ac. Maecenas vitae lacinia turpis, 
    non vulputate risus.
</p>

<h2>Scatterplot Representation</h2>

<img src="../../assets/img/scatter-plot.png" class="img-fluid" alt="Scatterplot">

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis accumsan justo, sed 
    consectetur orci. Mauris ut leo a libero faucibus rhoncus. Phasellus vitae mi metus. Cras quis 
    maximus justo. Vestibulum et accumsan nisl. Mauris iaculis, odio vel porttitor tristique, massa 
    nunc efficitur libero, sed pretium odio augue eget ante. Sed sollicitudin convallis augue vel 
    ultricies. Etiam mattis elementum ligula, et pharetra lectus semper ac. Maecenas vitae lacinia turpis, 
    non vulputate risus.
</p>

<h2>Heatmap Representation</h2>

<img src="../../assets/img/heatmap.png" class="img-fluid" alt="Heatmap">

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis accumsan justo, sed 
    consectetur orci. Mauris ut leo a libero faucibus rhoncus. Phasellus vitae mi metus. Cras quis 
    maximus justo. Vestibulum et accumsan nisl. Mauris iaculis, odio vel porttitor tristique, massa 
    nunc efficitur libero, sed pretium odio augue eget ante. Sed sollicitudin convallis augue vel 
    ultricies. Etiam mattis elementum ligula, et pharetra lectus semper ac. Maecenas vitae lacinia turpis, 
    non vulputate risus.
</p>
