<h1>Data Visualizations</h1>

<p>
    Through the training of our Artificial Intelligence model, our team created various graphs 
    and ways to visualize the data that we had to work with. Since our team found them so enjoyable 
    to look at when we were building the application, we thought that it might be fun for your team
    to view them as well.
</p>

<h2>Bar Graph Representation</h2>

<img src="../../assets/img/bar-graph.png" class="img-fluid" alt="Bar Graph">

<p>
    This presented bar graph shows a spread of the different Occupations that were presented within the 
    dataset. A limitation of the data that is shown is that the specificity of Occupations/Job titles is 
    quite thin. One would think that the "Other-service" category would be the largest of all the fields, 
    but it is actually ranked 6th of all the choices. Because of the larger pools of data, we can assume 
    that queries to the model where the "Exec-management", "Other-service", "Adm-clerical", "Sales", 
    "Prof-specialty", and "Craft-repair" will have a higher form of accuracy versus the other available 
    Occupations.
</p>

<h2>Scatterplot Representation</h2>

<img src="../../assets/img/scatter-plot.png" class="img-fluid" alt="Scatterplot">

<p>
    This scatterplot shows the relationship between Age and the "Work Hours performed each week" with 
    different Races of data points colored for distinction. While this graph is interesting to look at, 
    it shows us that these columns in our data are very all over the place. You can see that a big cluster 
    of entries exist at the 40 hour mark, as that is the most common Full-Time Job amount of hours. An 
    note that can made of the data, is that the people most likely to be not working at all (0 hours) 
    is comprised mostly of clusters of very young people and very old people, which shows us that our 
    data follows trends that we would expect in everyday life.
</p>

<h2>Heatmap Representation</h2>

<img src="../../assets/img/heatmap.png" class="img-fluid" alt="Heatmap">

<p>
    The presented heatmap shows the correlation between Race and Highest Education Completed and the 
    likelihood of a person making more than $50,000 per year. The heatmap shows with very extreme 
    confidence that the more higher education an individual completes, the higher chance they have 
    to make more money. The visualization shows that people of the White and Asian/Pacific Islander 
    race have the highest likelihood of making at least 50K per year. Also, another interesting 
    observation that can be seen in the heatmap is that people of the Black race are the only group 
    that have a higher likelihood of making at least 50k with the highest education of 1 (Preschool).
</p>
