<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>My First Dashboard</title>
</head>
<body>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<h1>Salary Data Visualization Simulation</h1>

<div class="container">
    <h2>Bar Graph</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="bargraph">
                <script>
                    var graphs = {{plot | safe}};
                    Plotly.plot('bargraph',graphs,{});
                </script>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2>Heatmap</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="bargraph">
                <script>
                    var graphs = {{plot | safe}};
                    Plotly.plot('scatterplot',graphs,{});
                </script>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2>Scatterplot</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="bargraph">
                <script>
                    var graphs = {{plot | safe}};
                    Plotly.plot('bargraph',graphs,{});
                </script>
            </div>
        </div>
    </div>
</div>

<h3><a href="http://localhost:4200">Return to Application Form</a></h3>
</body>
</html>
